body {
  background: rgb(7, 62, 156);
  background: linear-gradient(
    90deg,
    rgba(7, 62, 156, 1) 12%,
    rgba(0, 212, 255, 1) 100%
  );
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.calc-results {
  background-color: lightblue;
  height: 70px;
  display: flex;
  flex-direction: column;
}

.calc-display-top {
  color: rgba(0, 0, 0, 0.589);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 35px;
  margin-right: 5px;
}

.calc-display-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
  height: 35px;
  margin-right: 5px;
}

.button-holder {
  display: flex;
  justify-content: center;
  background-color: white;
}

.number,
.operation,
.decimal,
.equals {
  min-width: 80px;
  min-height: 60px;
  margin: 2px;
  border: 1px solid lightgray;
}

.clear,
.delete {
  min-width: 166px;
  min-height: 40px;
  margin: 2px;
  border: 1px solid lightgray;
}

.number:hover,
.operation:hover,
.decimal:hover,
.equals:hover,
.clear:hover,
.delete:hover {
  cursor: pointer;
  background-color: lightblue;
  transition: ease 0.1s;
}
